<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pug Emoji - Petto Emojis iMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Pug Emoji - Petto Emojis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pug Emojis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Pug iMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA61903F1F4F49D400B98A90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA86A7FE1F31ACDC00C2F19B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9FFE851F4F54D5004DF23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAFCB5FD1F4FEDDD003956B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
